In [37]:
# import libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [38]:
# load data
col_to_drop = ['PLAYER', 'CS']
data = pd.read_csv('../dataset/500hits.csv', encoding='latin-1')
data.drop(col_to_drop, axis=1, inplace=True)
data.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,0.366,1
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,0.331,1
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,0.345,1
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,0.310,1
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,0.329,1

In [39]:
X = data.drop('HOF', axis=1) # features
y = data['HOF'] # target

# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
# scale data
scaler = MinMaxScaler(feature_range=(0, 1))

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [41]:
# build model
knn_model = KNeighborsClassifier(n_neighbors=8)

knn_model.fit(X_train, y_train)
y_predict = knn_model.predict(X_test)

In [42]:
# evaluate model
confusion_matrix = confusion_matrix(y_test, y_predict) # 59, 3, 11, 20
print('Confusion Matrix: \n', confusion_matrix)
accuracy = accuracy_score(y_test, y_predict)
print('Accuracy: ', accuracy) # 0.85
classification_report = classification_report(y_test, y_predict)
print('Classification Report: \n', classification_report)

Confusion Matrix:
 [[59  3]
 [11 20]]
Accuracy:  0.8494623655913979
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.95      0.89        62
           1       0.87      0.65      0.74        31

    accuracy                           0.85        93
   macro avg       0.86      0.80      0.82        93
weighted avg       0.85      0.85      0.84        93