In [3]:
# Series obj Introducing

import pandas as pd
import numpy as np

In [6]:
s_obj = pd.Series(range(10, 20)) # create a series obj
s_obj

RangeIndex(start=0, stop=10, step=1)

In [8]:
s_obj.values # get the values of the series obj

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
s_obj.index

In [ ]:
s_obj2 = pd.Series(range(10, 20), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) # create a series obj with index
s_obj2

In [ ]:
s_obj2['a'] # get the value of a

In [ ]:
s_obj2['b'] = 5 # change the value of b
s_obj2

In [ ]:
s_obj2[['a', 'b', 'c']] # get the values of a, b, c

In [ ]:
s_obj2[s_obj2 > 15] # get the values that are greater than 15

In [ ]:
s_obj2 * 2 # multiply all the values by 2

In [ ]:
import numpy as np
np.exp(s_obj2) # get the exponential of all the values

In [ ]:
'b' in s_obj2 # check if 'b' is in the series obj

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} # create a dictionary
s_obj3 = pd.Series(sdata) # create a series obj from the dictionary
s_obj3

In [ ]:
pd.isnull(s_obj3) # check if there is any null value in the series obj

In [ ]:
pd.notnull(s_obj3) # check if there is any non-null value in the series obj

In [ ]:
s_obj3.isnull() # check if there is any null value in the series obj

In [20]:
obj4 = pd.Series({'California': np.nan, 'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000}) # create a series obj with nan value
obj4

California        NaN
Ohio          35000.0
Texas         71000.0
Oregon        16000.0
dtype: float64

In [ ]:
obj4.name = 'population' # set the name of the series obj
obj4.index.name = 'state' # set the name of the index
obj4

In [ ]:
# DataFrame obj Introducing

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002, 2003], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} # create a dictionary
frame = pd.DataFrame(data) # create a DataFrame obj from the dictionary
frame

In [ ]:
frame.head() # get the first 5 rows of the DataFrame obj

In [ ]:
pd.DataFrame(data, columns = ['year', 'state', 'pop']) # create a DataFrame obj with columns

In [ ]:
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'], index = ['one', 'two', 'three', 'four', 'five', 'six']) # create a DataFrame obj with columns and index
frame2

In [ ]:
frame2.columns # get the columns of the DataFrame obj

In [ ]:
frame2.index # get the index of the DataFrame obj

In [ ]:
frame2.year # get the year column of the DataFrame obj

In [ ]:
frame2['debt'] = 16.5 # set the debt column of the DataFrame obj
frame2

In [ ]:
frame2['debt'] = np.arange(6.) # set the debt column of the DataFrame obj
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index = ['two', 'four', 'five']) # create a series obj
frame2['debt'] = val # set the debt column of the DataFrame obj
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio' # set the eastern column of the DataFrame obj
frame2

In [ ]:
del frame2['eastern'] # delete the eastern column of the DataFrame obj
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}} # create a dictionary
frame3 = pd.DataFrame(pop) # create a DataFrame obj from the dictionary
frame3

In [36]:
frame3.T # transpose the DataFrame obj

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
pd.DataFrame(frame3, index = [2001, 2002, 2003]) # create a DataFrame obj with index

In [ ]:
p_data = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]} # create a dictionary
pd.DataFrame(p_data) # create a DataFrame obj from the dictionary

In [ ]:
frame3.index.name = 'year' # set the name of the index
frame3.columns.name = 'state' # set the name of the columns
frame3

In [ ]:
# Index obj Introducing

In [ ]:
i_obj = pd.Index([2, 3, 5, 7, 11]) # create an index obj
i_obj

In [ ]:
i_obj[1] # get the value of the index

In [ ]:
i_obj[1] = 'b' # Cause an error

In [ ]:
labels = pd.Index(np.arange(3)) # create an index obj
obj2 = pd.Series([1.5, -2.5, 0], index = labels) # create a series obj with index
obj2

In [43]:
pd.Index([1, 2, 3, 4, 5], dtype='object') # create an index obj with dtype

Index([1, 2, 3, 4, 5], dtype='object')

In [44]:
'Ohio' in frame3.columns # check if 'Ohio' is in the columns of the DataFrame obj

True

In [45]:
2003 in frame3.index # check if 2003 is in the index of the DataFrame obj

False

In [ ]:
dup_labels = ['foo', 'foo', 'bar', 'bar'] # create a list
pd.Index(dup_labels) # create an index obj

In [ ]:
## Methods and Attributes of Index object

pd.Index().append() # Concatenate with additional Index objects, producing a new Index
pd.Index().difference() # Compute set difference as an Index
pd.Index().intersection() # Compute set intersection
pd.Index().union() # Compute set union
pd.Index().isin() # Compute boolean array indicating whether each value is contained in the passed collection
pd.Index().delete() # Compute new Index with element at index i deleted
pd.Index().drop() # Compute new Index by deleting passed values
pd.Index().insert() # Compute new Index by inserting element at index i
pd.Index().is_monotonic() # Returns True if each element is greater than or equal to the previous element
pd.Index().is_unique() # Returns True if the Index has no duplicate values
pd.Index().unique() # Compute the array of unique values in the Index

In [ ]:
# Base functionality of pandas

In [48]:
# Reindexing
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c']) # create a series obj
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e']) # reindex the series obj
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4]) # create a series obj
obj3

In [51]:
obj3.reindex(range(6), method = 'ffill') # reindex the series obj with method

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index = ['a', 'c', 'd'], columns = ['Ohio', 'Texas', 'California']) # create a DataFrame obj
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd']) # reindex the DataFrame obj
frame2

In [54]:
states = ['Texas', 'Utah', 'California'] # create a list
frame.reindex(columns = states) # reindex the DataFrame obj with columns

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [ ]:
frame.loc[['a', 'b', 'c', 'd'], states] # reindex the DataFrame obj with loc

In [ ]:
## Arguments and Parameters of reindex

index # New sequence to use as index
method # Interpolation (fill) method
fill_value # Substitute value to use when introducing missing data by reindexing
limit # When forward- or backfilling, maximum size gap to fill
tolerance # When forward- or backfilling, maximum size gap to fill for ordered data
level # Match simple Index on level of MultiIndex, otherwise select subset of
copy # Do not copy underlying data if new index is equivalent to old index. Otherwise, copy

In [ ]:
# Dropping entries from an axis
obj = pd.Series(np.arange(5.), index = ['a', 'b', 'c', 'd', 'e']) # create a series obj
obj

In [ ]:
new_obj = obj.drop('c') # drop the value of c
new_obj

In [ ]:
obj.drop(['d', 'c']) # drop the values of d, c

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index = ['Ohio', 'Colorado', 'Utah', 'New York'], columns = ['one', 'two', 'three', 'four']) # create a DataFrame obj
data

In [ ]:
data.drop(['Colorado', 'Ohio']) # drop the values of Colorado, Ohio

In [ ]:
data.drop('two', axis = 1) # drop the column of two

In [ ]:
data.drop(['two', 'four'], axis = 'columns') # drop the columns of two, four

In [ ]:
obj.drop('c', inplace = True) # drop the value of c in place    
obj

In [ ]:
# Indexing, selection, and filtering
obj = pd.Series(np.arange(4.), index = ['a', 'b', 'c', 'd']) # create a series obj
obj

In [ ]:
obj['b'] # get the value of b

In [ ]:
obj[['b', 'a', 'd']] # get the values of b, a, d

In [ ]:
obj[[1, 3]] # get the values of 1, 3

In [ ]:
obj[obj < 2] # get the values that are less than 2

In [4]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index = ['Ohio', 'Colorado', 'Utah', 'New York'], columns = ['one', 'two', 'three', 'four']) # create a DataFrame obj
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
data[['two', 'three']] # get the columns of two, three

In [ ]:
data[data['three'] > 5] # get the rows that the value of three is greater than 5

In [ ]:
data < 5 # get the boolean values of the DataFrame obj

In [ ]:
data[data < 5] = 0 # set the values that are less than 5 to 0

In [5]:
# Data selection in DataFrame (loc, iloc)

data.loc['Colorado', ['two', 'three']] # get the values of Colorado, two, three

two      5
three    6
Name: Colorado, dtype: int32

In [6]:
data.iloc[2, [3, 0, 1]] # get the values of 2, 3, 0, 1

four    11
one      8
two      9
Name: Utah, dtype: int32

In [ ]:
data.iloc[2] # get the values of 2

In [8]:
data.iloc[:, :3][data.three > 5] # get the values of three that are greater than 5

          one  two  three
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14

# Access by index for DataFrame (loc, iloc)

| Syntax                    | Description                                                                |
|:--------------------------|:---------------------------------------------------------------------------|
| df.loc[val1]              | Select single row or subset of rows from the DataFrame by label            |
| df[val1]                  | Select single column or subset of columns by label                         |
| df.loc[val1, val2]        | Select both rows and columns by label                                      |
| df.iloc[where]            | Select single row or subset of rows from the DataFrame by integer position |
| df.iloc[:, where]         | Select single column or subset of columns by integer position              |
| df.iloc[where_i, where_j] | Select both rows and columns by integer position                           |

In [9]:
# Integer indexes
ser = pd.Series(np.arange(3.)) # create a series obj
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [11]:
ser2 = pd.Series(np.arange(3.), index = ['a', 'b', 'c']) # create a series obj with index
ser2.iloc[-1] # get the value of -1

2.0

In [12]:
# Arithmetic and Data Alignment

s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e']) # create a series obj
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g']) # create a series obj

s1 + s2 # add two series obj

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns = list('bcd'), index = ['Ohio', 'Texas', 'Colorado']) # create a DataFrame obj
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon']) # create a DataFrame obj

df1 + df2 # add two DataFrame obj

In [14]:
df1 = pd.DataFrame({'A': [1, 2]}) # create a DataFrame obj
df2 = pd.DataFrame({'B': [3, 4]}) # create a DataFrame obj

df1 - df2 # sub two DataFrame obj

    A   B
0 NaN NaN
1 NaN NaN

In [16]:
# Arithmetic methods with fill values

df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns = list('abcd')) # create a DataFrame obj
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns = list('abcde')) # create a DataFrame obj

df2.loc[1, 'b'] = np.nan # set the value of 1, b to nan
df1 + df2 # add two DataFrame obj

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [17]:
df1.add(df2, fill_value = 0) # add two DataFrame obj with fill value

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
1 / df1 # divide the DataFrame obj by 1

In [ ]:
df1.rdiv(1) # divide 1 by the DataFrame obj

In [20]:
df1.reindex(columns = df2.columns, fill_value = 0) # reindex the DataFrame obj with fill value

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

# Operations between DataFrame and Series

| Syntax      | Description                        |
|:------------|:-----------------------------------|
| df - series | Subtract each column by the series |
| df + series | Add each column by the series      |
| df * series | Multiply each column by the series |
| df / series | Divide each column by the series   |

# Flex math methods

| Syntax                  | Description               | Symbol | 
|:------------------------|:--------------------------|--------|
| add(), radd()           | Method for addition       | +      |
| sub(), rsub()           | Method for subtraction    | -      |
| div(), rdiv()           | Method for division       | /      |
| floordiv(), rfloordiv() | Method for floor division | //     |
| mul(), rmul()           | Method for multiplication | *      |
| pow(), rpow()           | Method for exponentiation | **     |

In [ ]:
# Apply method and lambda function

frame = pd.DataFrame(np.random.randn(4, 3), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon']) # create a DataFrame obj

f = lambda x: x.max() - x.min() # create a lambda function, which returns the difference between the max and min values
frame.apply(f) # apply the lambda function to the DataFrame obj
frame.apply(f, axis = 'columns') # apply the lambda function to the DataFrame obj with axis

In [ ]:
def f(x): # create a function
    return pd.Series([x.min(), x.max()], index = ['min', 'max']) # return a series obj, which contains the min and max values

frame.apply(f) # apply the function to the DataFrame obj

In [ ]:
format = lambda x: '%.2f' % x # create a lambda function, which formats the value

frame.map(format) # apply the lambda function to the DataFrame obj

In [ ]:
frame['e'].map(format) # apply the lambda function to the column of e

In [ ]:
# Sorting and ranking

obj = pd.Series(range(4), index = ['d', 'a', 'b', 'c']) # create a series obj
obj.sort_index() # sort the series obj

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), index = ['three', 'one'], columns = ['d', 'a', 'b', 'c']) # create a DataFrame obj
frame.sort_index() # sort the DataFrame obj

In [ ]:
frame.sort_index(axis=1, ascending=False) # sort the DataFrame obj in descending order

In [ ]:
obj = pd.Series([4, 7, -3, 2]) # create a series obj
obj.sort_values() # sort the series obj

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]}) # create a DataFrame obj
frame.sort_values(by='b') # sort the DataFrame obj by b column

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4]) # create a series obj
obj.rank() # rank the series obj
obj.rank(method='first') # rank the series obj with method

In [ ]:
obj.rank(ascending=False, method='max') # rank the series obj with method: max

# Rank method options

| Method  | Description                                                         |
|:--------|:--------------------------------------------------------------------|
| average | Default: assign the average rank to each entry in the equal group   |
| min     | Use the minimum rank for the whole group                            |
| max     | Use the maximum rank for the whole group                            |
| first   | Assign ranks in the order the values appear in the data             |
| dense   | Like method='min', but ranks always increase by 1 in between groups |

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]}) # create a DataFrame obj
frame.rank(axis='columns') # rank the DataFrame obj with axis

In [ ]:
# Axis indexes with duplicate labels

obj = pd.Series(range(5), index = ['a', 'a', 'b', 'b', 'c']) # create a series obj
obj

In [ ]:
obj.index.is_unique # check if the index is unique

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index = ['a', 'a', 'b', 'b']) # create a DataFrame obj
df

In [ ]:
df.loc['b'] # get the values of b

In [ ]:
# Reducing functions

df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index = ['a', 'b', 'c', 'd'], columns = ['one', 'two']) # create a DataFrame obj
df

In [ ]:
df.sum() # sum the DataFrame obj by columns

In [ ]:
df.sum(axis=1) # sum the DataFrame obj by rows

In [ ]:
df.mean(axis='columns', skipna=False) # mean the DataFrame obj by rows with skipna

# Reducing functions options

| Method | Description                                                   |
|:-------|:--------------------------------------------------------------|
| axis   | Axis to reduce over  (0 - columns, 1 - rows)                  |
| skipna | Exclude missing values (True by default)                      |
| level  | Reduce grouped by level if the axis is hierarchically indexed |

In [ ]:
df.idxmax() # get the index of the max value

In [48]:
df.cumsum() # get the cumulative sum of the DataFrame obj

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [ ]:
df.describe() # get the description of the DataFrame obj (count, mean, std, min, 25%, 50%, 75%, max)

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4) # create a series obj
obj.describe() # get the description of the series obj (count, unique, top, freq)

# Descriptive and summary statistics

| Method         | Description                                           | Example                            | 
|:---------------|:------------------------------------------------------|:-----------------------------------|
| count          | Number of non-NA values                               | 126                                | 
| describe       | Compute set of summary statistics                     | mean - 1.64, std - 0.43, min - 1.1 |
| min, max       | Compute minimum and maximum values                    | min - 0.1, max - 0.9               |
| argmin, argmax | Compute index locations of minimum and maximum values | argmin - 0, argmax - 1             |
| idxmin, idxmax | Compute index labels of minimum and maximum values    | idxmin - 'a', idxmax - 'b'         |
| quantile       | Compute sample quantile ranging from 0 to 1           | 0.25 - 0.325, 0.75 - 0.775         |
| sum            | Sum of values                                         | sum - 1.6                          |
| mean           | Mean of values                                        | mean - 0.32                        |
| median         | Arithmetic median of values                           | median - 0.3                       |
| mad            | Mean absolute deviation from mean                     | mad - 0.15                         |
| var            | Sample variance of values                             | var - 0.2                          |
| std            | Sample standard deviation of values                   | std - 0.45                         |
| skew           | Sample skewness (3rd moment) of values                | skew - 0.1                         |
| kurt           | Sample kurtosis (4th moment) of values                | kurt - 0.2                         |
| cumsum         | Cumulative sum of values                              | cumsum - 1.6                       |
| cummin, cummax | Cumulative minimum or maximum of values               | cummin - 0.1, cummax - 0.9         |
| cumprod        | Cumulative product of values                          | cumprod - 0.9                      |
| diff           | Compute 1st arithmetic difference                     | diff - 0.1, 0.2, 0.3               |
| pct_change     | Compute percent changes                               | pct_change - 0.1, 0.2, 0.3         |

In [68]:
# Correlation and covariance
# create returns data using np.random.randn
returns_data = {'IMB': np.random.randn(5), 'MSFT': np.random.randn(5), 'IBM': np.random.randn(5),
                'AAPL': np.random.randn(5), 'GOOG': np.random.randn(5), 'FB': np.random.randn(5), 'AMZN': np.random.randn(5), 'NFLX': np.random.randn(5), 'TSLA': np.random.randn(5), 'NVDA': np.random.randn(5), 'AMD': np.random.randn(5), 'INTC': np.random.randn(5), 'QCOM': np.random.randn(5), 'CSCO': np.random.randn(5), 'ORCL': np.random.randn(5), 'CRM': np.random.randn(5), 'ADBE': np.random.randn(5), 'PYPL': np.random.randn(5), 'SQ': np.random.randn(5), 'SHOP': np.random.randn(5), 'UBER': np.random.randn(5), 'LYFT': np.random.randn(5), 'ZM': np.random.randn(5), 'WORK': np.random.randn(5), 'PINS': np.random.randn(5), 'SNAP': np.random.randn(5), 'TWTR': np.random.randn(5), 'TSLA': np.random.randn(5), 'SPOT': np.random.randn(5), 'NFLX': np.random.randn(5), 'DIS': np.random.randn(5), 'CMCSA': np.random.randn(5), 'FOXA': np.random.randn(5), 'DISCA': np.random.randn(5), 'VIAC': np.random.randn(5), 'ROKU': np.random.randn(5), 'FUBO': np.random.randn(5), 'IQ': np.random.randn(5), 'BIDU': np.random.randn(5), 'JD': np.random.randn(5), 'BABA': np.random.randn(5), 'TCEHY': np.random.randn(5), 'NTES': np.random.randn(5), 'ATVI': np.random.randn(5), 'EA': np.random.randn(5), 'TTWO': np.random.randn(5), 'TTD': np.random.randn(5), 'ROKU': np.random.randn(5), 'ZM': np.random.randn(5), 'WORK': np.random.randn(5), 'PINS': np.random.randn(5)}
returns = pd.DataFrame(returns_data, index=pd.date_range('2021-01-01', periods=5, freq='D')) # create a DataFrame obj
returns

,IMB,MSFT,IBM,AAPL,GOOG,FB,AMZN,NFLX,TSLA,NVDA,...,IQ,BIDU,JD,BABA,TCEHY,NTES,ATVI,EA,TTWO,TTD
2021-01-01,-1.207550,0.074437,0.621694,-0.559358,-0.033443,-1.757201,-0.782719,-1.671890,-0.244815,-0.153953,...,0.020000,2.171223,-0.909438,-2.460014,-0.491688,1.335790,-0.703057,-1.215954,-0.307950,-0.901591
2021-01-02,1.419615,-0.242877,0.852432,2.230517,-0.045337,0.320287,-0.435801,-0.786860,0.633315,1.387461,...,1.090177,-1.526352,-0.502234,-1.945880,-0.361029,1.668219,-0.152307,0.826256,0.835492,-0.064693
2021-01-03,-0.384954,-0.170436,-0.625254,1.140691,-0.133312,0.300175,-1.676259,0.530702,0.409739,-1.455390,...,1.753814,0.452458,0.753774,-0.726899,-0.041055,0.487190,-1.217406,-0.722665,-0.421592,-1.033598
2021-01-04,-1.253049,-0.641514,-1.601066,-0.580264,-0.510570,0.103888,-0.586665,1.307079,-0.405344,0.612496,...,-0.122934,-1.361231,-0.545930,0.439392,-0.217836,-0.109403,-0.546878,0.383589,1.328883,-0.134912
2021-01-05,-0.544926,-0.321359,0.540664,-0.040245,1.051092,1.609443,-0.701775,-0.535275,0.294492,0.804333,...,-0.213859,0.516659,-0.588668,0.095893,-0.949128,-1.536571,-0.694817,1.382041,-1.289194,-0.674076

In [69]:
returns.tail() # get the last 5 rows

,IMB,MSFT,IBM,AAPL,GOOG,FB,AMZN,NFLX,TSLA,NVDA,...,IQ,BIDU,JD,BABA,TCEHY,NTES,ATVI,EA,TTWO,TTD
2021-01-01,-1.207550,0.074437,0.621694,-0.559358,-0.033443,-1.757201,-0.782719,-1.671890,-0.244815,-0.153953,...,0.020000,2.171223,-0.909438,-2.460014,-0.491688,1.335790,-0.703057,-1.215954,-0.307950,-0.901591
2021-01-02,1.419615,-0.242877,0.852432,2.230517,-0.045337,0.320287,-0.435801,-0.786860,0.633315,1.387461,...,1.090177,-1.526352,-0.502234,-1.945880,-0.361029,1.668219,-0.152307,0.826256,0.835492,-0.064693
2021-01-03,-0.384954,-0.170436,-0.625254,1.140691,-0.133312,0.300175,-1.676259,0.530702,0.409739,-1.455390,...,1.753814,0.452458,0.753774,-0.726899,-0.041055,0.487190,-1.217406,-0.722665,-0.421592,-1.033598
2021-01-04,-1.253049,-0.641514,-1.601066,-0.580264,-0.510570,0.103888,-0.586665,1.307079,-0.405344,0.612496,...,-0.122934,-1.361231,-0.545930,0.439392,-0.217836,-0.109403,-0.546878,0.383589,1.328883,-0.134912
2021-01-05,-0.544926,-0.321359,0.540664,-0.040245,1.051092,1.609443,-0.701775,-0.535275,0.294492,0.804333,...,-0.213859,0.516659,-0.588668,0.095893,-0.949128,-1.536571,-0.694817,1.382041,-1.289194,-0.674076

In [70]:
returns['MSFT'].corr(returns['IBM']) # get the correlation of MSFT and IBM

0.6871891723315299

In [71]:
returns['MSFT'].cov(returns['IBM']) # get the covariance of MSFT and IBM

0.18602342883805628

In [ ]:
returns.MSFT.corr(returns.IBM) # get the correlation of MSFT and IBM

In [72]:
returns.corr() # get the correlation matrix of the DataFrame obj

,IMB,MSFT,IBM,AAPL,GOOG,FB,AMZN,NFLX,TSLA,NVDA,...,IQ,BIDU,JD,BABA,TCEHY,NTES,ATVI,EA,TTWO,TTD
IMB,1.000000,0.085889,0.514227,0.945891,0.088252,0.321161,0.208246,-0.218457,0.860470,0.416411,...,0.558088,-0.517971,0.141095,-0.352534,0.050182,0.410172,0.517603,0.414906,0.179108,0.429791
MSFT,0.085889,1.000000,0.687189,0.140292,0.175624,-0.553988,-0.304387,-0.819980,0.222755,-0.387343,...,0.268489,0.773535,-0.002198,-0.838616,-0.094342,0.495486,-0.243590,-0.614395,-0.509350,-0.661672
IBM,0.514227,0.687189,1.000000,0.361189,0.584176,-0.055443,0.281896,-0.920806,0.524045,0.328504,...,0.009136,0.350351,-0.367630,-0.681515,-0.585233,0.257746,0.347450,0.124637,-0.465207,-0.128476
AAPL,0.945891,0.140292,0.361189,1.000000,-0.043613,0.282136,-0.102650,-0.078173,0.895665,0.113795,...,0.795650,-0.461017,0.438069,-0.331198,0.292138,0.457118,0.247842,0.215210,0.150736,0.239846
GOOG,0.088252,0.175624,0.584176,-0.043613,1.000000,0.569707,0.093200,-0.416502,0.382658,0.230615,...,-0.300004,0.323984,-0.179663,0.151546,-0.887319,-0.626539,-0.045544,0.521066,-0.822578,-0.275497
FB,0.321161,-0.553988,-0.055443,0.282136,0.569707,1.000000,0.010484,0.401138,0.518738,0.283514,...,0.045622,-0.475514,0.279633,0.693530,-0.347712,-0.709986,0.015371,0.840524,-0.251522,0.224585
AMZN,0.208246,-0.304387,0.281896,-0.102650,0.093200,0.010484,1.000000,-0.262939,-0.191065,0.951348,...,-0.643166,-0.384301,-0.878386,-0.073187,-0.476532,0.039097,0.930250,0.549291,0.406685,0.777069
NFLX,-0.218457,-0.819980,-0.920806,-0.078173,-0.416502,0.401138,-0.262939,1.000000,-0.193837,-0.188153,...,0.142080,-0.587679,0.502414,0.804506,0.519037,-0.367456,-0.258499,0.181490,0.429014,0.264809
TSLA,0.860470,0.222755,0.524045,0.895665,0.382658,0.518738,-0.191065,-0.193837,1.000000,0.074331,...,0.674424,-0.237439,0.446119,-0.199734,-0.054159,0.118316,0.073161,0.359047,-0.272663,-0.001817
NVDA,0.416411,-0.387343,0.328504,0.113795,0.230615,0.283514,0.951348,-0.188153,0.074331,1.000000,...,-0.495040,-0.535391,-0.722375,0.032945,-0.510846,-0.061584,0.935382,0.756176,0.340069,0.826500
AMD,-0.680178,0.241898,0.215300,-0.832429,0.411336,-0.301095,0.285831,-0.456332,-0.619332,0.092845,...,-0.838509,0.677176,-0.680965,-0.036639,-0.671199,-0.349215,-0.045342,-0.122905,-0.439429,-0.315490
INTC,-0.307702,0.831258,0.367879,-0.278853,-0.170858,-0.894107,-0.126790,-0.681602,-0.330245,-0.362386,...,-0.059186,0.784118,-0.269413,-0.778799,0.039169,0.555270,-0.171388,-0.815076,-0.192442,-0.528860
QCOM,-0.386984,-0.280510,-0.731272,-0.270029,-0.946675,-0.573996,-0.075408,0.498295,-0.642400,-0.260970,...,0.046504,-0.214304,0.075932,0.033878,0.775570,0.405861,-0.053416,-0.527086,0.753548,0.208388
CSCO,0.390114,-0.715405,-0.095697,0.283193,0.418500,0.942899,0.292945,0.433646,0.415710,0.539519,...,-0.077403,-0.691671,0.071588,0.678265,-0.321703,-0.604108,0.308703,0.946798,0.032552,0.532930
ORCL,-0.051713,-0.127025,-0.529665,0.073937,-0.997844,-0.600773,-0.075446,0.360378,-0.358201,-0.215580,...,0.314142,-0.308858,0.158172,-0.213888,0.880045,0.675671,0.074607,-0.535707,0.821271,0.276199
CRM,-0.234242,-0.808667,-0.884189,-0.185031,-0.708153,0.024871,0.118063,0.845875,-0.475248,0.073702,...,-0.072441,-0.660674,0.103092,0.546484,0.576727,-0.039564,0.118958,0.074426,0.800436,0.557832
ADBE,-0.719445,-0.349759,-0.846017,-0.499779,-0.273682,0.051481,-0.635073,0.728742,-0.469307,-0.682931,...,0.023675,0.124566,0.526411,0.638255,0.407101,-0.439738,-0.772044,-0.324332,-0.051070,-0.398873
PYPL,0.636946,-0.548245,0.012646,0.466299,-0.227995,0.277434,0.705956,0.183860,0.231193,0.805191,...,-0.011718,-0.890683,-0.292792,0.059128,0.063850,0.219206,0.866522,0.629636,0.718799,0.969525
SQ,0.318437,-0.163857,0.392226,0.201568,0.896782,0.862898,0.122269,-0.092418,0.563307,0.357013,...,-0.129386,-0.099972,0.005390,0.388618,-0.721982,-0.681344,0.068754,0.786951,-0.588289,0.014821
SHOP,0.686619,0.770806,0.813097,0.674334,0.096255,-0.290208,-0.005402,-0.751430,0.632213,0.037108,...,0.503694,0.205895,0.003300,-0.884266,-0.004529,0.699738,0.235407,-0.214210,-0.153542,-0.133779
UBER,0.032033,0.178654,-0.158767,0.076193,-0.877913,-0.816122,0.126985,-0.060706,-0.341176,-0.064156,...,0.193900,-0.105107,-0.137246,-0.565932,0.666665,0.867157,0.269407,-0.601787,0.728473,0.249183
LYFT,-0.417737,-0.857888,-0.533330,-0.548933,0.134269,0.476675,0.415069,0.567948,-0.475484,0.422277,...,-0.687689,-0.396315,-0.313814,0.848789,-0.314104,-0.743992,0.178984,0.596275,0.187872,0.449047
ZM,0.423290,-0.177352,-0.211641,0.632533,0.051753,0.613205,-0.638468,0.491879,0.692951,-0.383945,...,0.780080,-0.342945,0.905964,0.335040,0.382781,-0.159151,-0.427730,0.181300,-0.138761,-0.146292
WORK,0.521045,0.491636,0.696428,0.539914,0.732520,0.446727,-0.296546,-0.459055,0.841185,-0.088607,...,0.405577,0.262108,0.310242,-0.220076,-0.408395,-0.131524,-0.187900,0.229872,-0.740791,-0.413789
PINS,-0.160992,-0.321277,-0.583013,-0.119820,-0.950098,-0.553056,0.186411,0.396647,-0.545716,0.018391,...,0.014463,-0.394001,-0.098057,-0.073167,0.710087,0.528586,0.254991,-0.361440,0.906808,0.465468
SNAP,-0.297206,0.062801,0.425295,-0.511810,0.833803,0.267594,0.391493,-0.431150,-0.154509,0.376844,...,-0.766064,0.410974,-0.601261,0.178254,-0.968320,-0.640945,0.107756,0.416109,-0.624833,-0.145964
TWTR,-0.055697,0.597674,0.361858,-0.123602,-0.395182,-0.921024,0.289753,-0.638990,-0.344037,0.050962,...,-0.128718,0.378984,-0.517987,-0.839986,0.113400,0.771435,0.313613,-0.605230,0.256529,-0.019756
SPOT,-0.388334,-0.761646,-0.574912,-0.388397,0.303901,0.719393,-0.062395,0.695839,-0.187919,0.043890,...,-0.350387,-0.274285,0.162361,0.985296,-0.231420,-0.919547,-0.256385,0.542764,-0.143951,0.088885
DIS,0.476713,-0.275347,0.396046,0.179385,0.142840,0.149281,0.957675,-0.280363,0.091068,0.984895,...,-0.426100,-0.507448,-0.739617,-0.128013,-0.438358,0.108647,0.978674,0.651606,0.396444,0.825062
CMCSA,0.981748,-0.010092,0.397859,0.965758,0.097909,0.447617,0.090258,-0.066936,0.902569,0.333508,...,0.629129,-0.572333,0.292324,-0.205896,0.105349,0.301929,0.403645,0.455362,0.151241,0.396235
FOXA,0.066754,0.914616,0.581669,0.085096,-0.142475,-0.806613,-0.082548,-0.792986,0.002352,-0.244653,...,0.178193,0.629923,-0.198407,-0.951316,0.072349,0.739125,-0.005328,-0.704621,-0.147573,-0.410195
DISCA,-0.371839,-0.539664,-0.370599,-0.360639,0.534900,0.756384,-0.188765,0.506562,-0.048304,-0.059915,...,-0.305276,-0.050734,0.212940,0.894289,-0.386613,-0.978602,-0.394254,0.506414,-0.437234,-0.147183
VIAC,-0.142980,-0.488036,0.048698,-0.328619,0.743132,0.729748,0.383839,0.110401,-0.013393,0.495348,...,-0.632874,-0.124754,-0.334005,0.661385,-0.789867,-0.886294,0.156493,0.798372,-0.371788,0.189723
ROKU,0.039969,0.874789,0.438000,0.110331,-0.299489,-0.851614,-0.196846,-0.663054,-0.026113,-0.364354,...,0.291338,0.582363,-0.065131,-0.923558,0.257969,0.800198,-0.090664,-0.803454,-0.053456,-0.424191
FUBO,-0.626135,-0.371403,-0.824072,-0.394788,-0.210399,0.172867,-0.684065,0.761645,-0.338802,-0.686247,...,0.110674,0.070526,0.619696,0.680907,0.401622,-0.482278,-0.793586,-0.246892,-0.096315,-0.400305
IQ,0.558088,0.268489,0.009136,0.795650,-0.300004,0.045622,-0.643166,0.142080,0.674424,-0.495040,...,1.000000,-0.168145,0.827393,-0.272066,0.663014,0.473969,-0.317802,-0.282418,0.055742,-0.208073
BIDU,-0.517971,0.773535,0.350351,-0.461017,0.323984,-0.475514,-0.384301,-0.587679,-0.237439,-0.535391,...,-0.168145,1.000000,-0.085875,-0.391587,-0.297068,-0.021010,-0.552540,-0.616613,-0.720066,-0.869585
JD,0.141095,-0.002198,-0.367630,0.438069,-0.179663,0.279633,-0.878386,0.502414,0.446119,-0.722375,...,0.827393,-0.085875,1.000000,0.223264,0.607444,-0.018224,-0.695150,-0.231914,-0.138061,-0.408353
BABA,-0.352534,-0.838616,-0.681515,-0.331198,0.151546,0.693530,-0.073187,0.804506,-0.199734,0.032945,...,-0.272066,-0.391587,0.223264,1.000000,-0.080660,-0.838988,-0.230534,0.517276,0.006145,0.174663
TCEHY,0.050182,-0.094342,-0.585233,0.292138,-0.887319,-0.347712,-0.476532,0.519037,-0.054159,-0.510846,...,0.663014,-0.297068,0.607444,-0.080660,1.000000,0.549875,-0.260282,-0.537112,0.597533,0.033919
NTES,0.410172,0.495486,0.257746,0.457118,-0.626539,-0.709986,0.039097,-0.367456,0.118316,-0.061584,...,0.473969,-0.021010,-0.018224,-0.838988,0.549875,1.000000,0.289652,-0.546346,0.478906,0.120522
ATVI,0.517603,-0.243590,0.347450,0.247842,-0.045544,0.015371,0.930250,-0.258499,0.073161,0.935382,...,-0.317802,-0.552540,-0.695150,-0.230534,-0.260282,0.289652,1.000000,0.528621,0.541747,0.862399
EA,0.414906,-0.614395,0.124637,0.215210,0.521066,0.840524,0.549291,0.181490,0.359047,0.756176,...,-0.282418,-0.616613,-0.231914,0.517276,-0.537112,-0.546346,0.528621,1.000000,0.017345,0.615787
TTWO,0.179108,-0.509350,-0.465207,0.150736,-0.822578,-0.251522,0.406685,0.429014,-0.272663,0.340069,...,0.055742,-0.720066,-0.138061,0.006145,0.597533,0.478906,0.541747,0.017345,1.000000,0.772884
TTD,0.429791,-0.661672,-0.128476,0.239846,-0.275497,0.224585,0.777069,0.264809,-0.001817,0.826500,...,-0.208073,-0.869585,-0.408353,0.174663,0.033919,0.120522,0.862399,0.615787,0.772884,1.000000

In [ ]:
returns.cov() # get the covariance matrix of the DataFrame obj

In [ ]:
returns.corrwith(returns.IBM) # get the correlation of IBM with other columns

In [ ]:
volume = pd.DataFrame(np.random.randn(5, 3), index=pd.date_range('2021-01-01', periods=5, freq='D'), columns=['IBM', 'MSFT', 'AAPL']) # create a DataFrame obj
volume

In [ ]:
returns.corrwith(volume) # get the correlation of volume with dataframe columns

In [ ]:
# Unique values, value counts, and membership

obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c']) # create a series obj
obj

In [ ]:
unique = obj.unique() # get the unique values of the series obj
unique

In [ ]:
obj.value_counts() # get the value counts of the series obj

In [ ]:
pd.value_counts(obj.values, sort=False) # get the value counts of the series obj with sort

In [ ]:
mask = obj.isin(['b', 'c']) # check if the values are in b, c
mask

In [ ]:
obj[mask] # get the values that are in b, c

In [83]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a']) # create a series obj
unique_vals = pd.Series(['c', 'b', 'a']) # create a series obj
pd.Index(unique_vals).get_indexer(to_match) # get the index of the unique values in to_match

array([0, 2, 1, 1, 0, 2], dtype=int64)

# Unique values, value counts, and binning

| Method       | Description                                           | Example                            |
|:-------------|:------------------------------------------------------|:-----------------------------------|
| unique       | Compute array of unique values                        | unique - ['a', 'b', 'c']           |
| value_counts | Compute a Series containing value frequencies         | value_counts - a - 2, b - 2, c - 2 |
| isin         | Compute boolean array indicating whether each element | isin - True, False, True           |
| match        | Compute integer indices for each value in an array    | match - 2, 0, 1, 1, 2, 0          |

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4], 'Qu2': [2, 3, 1, 2, 3], 'Qu3': [1, 5, 2, 4, 4]}) # create a DataFrame obj
data

In [90]:
result = data.value_counts() # get the value counts of the DataFrame obj
result

Qu1  Qu2  Qu3
1    2    1      1
3    2    4      1
     3    5      1
4    1    2      1
     3    4      1
Name: count, dtype: int64