In [2]:
# Series obj Introducing

import pandas as pd

In [6]:
s_obj = pd.Series(range(10, 20)) # create a series obj
s_obj

RangeIndex(start=0, stop=10, step=1)

In [8]:
s_obj.values # get the values of the series obj

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
s_obj.index

In [ ]:
s_obj2 = pd.Series(range(10, 20), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) # create a series obj with index
s_obj2

In [ ]:
s_obj2['a'] # get the value of a

In [ ]:
s_obj2['b'] = 5 # change the value of b
s_obj2

In [ ]:
s_obj2[['a', 'b', 'c']] # get the values of a, b, c

In [ ]:
s_obj2[s_obj2 > 15] # get the values that are greater than 15

In [ ]:
s_obj2 * 2 # multiply all the values by 2

In [ ]:
import numpy as np
np.exp(s_obj2) # get the exponential of all the values

In [ ]:
'b' in s_obj2 # check if 'b' is in the series obj

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} # create a dictionary
s_obj3 = pd.Series(sdata) # create a series obj from the dictionary
s_obj3

In [ ]:
pd.isnull(s_obj3) # check if there is any null value in the series obj

In [ ]:
pd.notnull(s_obj3) # check if there is any non-null value in the series obj

In [ ]:
s_obj3.isnull() # check if there is any null value in the series obj

In [20]:
obj4 = pd.Series({'California': np.nan, 'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000}) # create a series obj with nan value
obj4

California        NaN
Ohio          35000.0
Texas         71000.0
Oregon        16000.0
dtype: float64

In [ ]:
obj4.name = 'population' # set the name of the series obj
obj4.index.name = 'state' # set the name of the index
obj4

In [ ]:
# DataFrame obj Introducing

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002, 2003], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]} # create a dictionary
frame = pd.DataFrame(data) # create a DataFrame obj from the dictionary
frame

In [ ]:
frame.head() # get the first 5 rows of the DataFrame obj

In [ ]:
pd.DataFrame(data, columns = ['year', 'state', 'pop']) # create a DataFrame obj with columns

In [ ]:
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'], index = ['one', 'two', 'three', 'four', 'five', 'six']) # create a DataFrame obj with columns and index
frame2

In [ ]:
frame2.columns # get the columns of the DataFrame obj

In [ ]:
frame2.index # get the index of the DataFrame obj

In [ ]:
frame2.year # get the year column of the DataFrame obj

In [ ]:
frame2['debt'] = 16.5 # set the debt column of the DataFrame obj
frame2

In [ ]:
frame2['debt'] = np.arange(6.) # set the debt column of the DataFrame obj
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index = ['two', 'four', 'five']) # create a series obj
frame2['debt'] = val # set the debt column of the DataFrame obj
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio' # set the eastern column of the DataFrame obj
frame2

In [ ]:
del frame2['eastern'] # delete the eastern column of the DataFrame obj
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}} # create a dictionary
frame3 = pd.DataFrame(pop) # create a DataFrame obj from the dictionary
frame3

In [36]:
frame3.T # transpose the DataFrame obj

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
pd.DataFrame(frame3, index = [2001, 2002, 2003]) # create a DataFrame obj with index

In [ ]:
p_data = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]} # create a dictionary
pd.DataFrame(p_data) # create a DataFrame obj from the dictionary

In [ ]:
frame3.index.name = 'year' # set the name of the index
frame3.columns.name = 'state' # set the name of the columns
frame3

In [ ]:
# Index obj Introducing

In [ ]:
i_obj = pd.Index([2, 3, 5, 7, 11]) # create an index obj
i_obj

In [ ]:
i_obj[1] # get the value of the index

In [ ]:
i_obj[1] = 'b' # Cause an error

In [ ]:
labels = pd.Index(np.arange(3)) # create an index obj
obj2 = pd.Series([1.5, -2.5, 0], index = labels) # create a series obj with index
obj2

In [43]:
pd.Index([1, 2, 3, 4, 5], dtype='object') # create an index obj with dtype

Index([1, 2, 3, 4, 5], dtype='object')

In [44]:
'Ohio' in frame3.columns # check if 'Ohio' is in the columns of the DataFrame obj

True

In [45]:
2003 in frame3.index # check if 2003 is in the index of the DataFrame obj

False

In [ ]:
dup_labels = ['foo', 'foo', 'bar', 'bar'] # create a list
pd.Index(dup_labels) # create an index obj

In [ ]:
## Methods and Attributes of Index object

pd.Index().append() # Concatenate with additional Index objects, producing a new Index
pd.Index().difference() # Compute set difference as an Index
pd.Index().intersection() # Compute set intersection
pd.Index().union() # Compute set union
pd.Index().isin() # Compute boolean array indicating whether each value is contained in the passed collection
pd.Index().delete() # Compute new Index with element at index i deleted
pd.Index().drop() # Compute new Index by deleting passed values
pd.Index().insert() # Compute new Index by inserting element at index i
pd.Index().is_monotonic() # Returns True if each element is greater than or equal to the previous element
pd.Index().is_unique() # Returns True if the Index has no duplicate values
pd.Index().unique() # Compute the array of unique values in the Index

In [ ]:
# Base functionality of pandas

In [48]:
# Reindexing
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c']) # create a series obj
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e']) # reindex the series obj
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4]) # create a series obj
obj3

In [51]:
obj3.reindex(range(6), method = 'ffill') # reindex the series obj with method

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index = ['a', 'c', 'd'], columns = ['Ohio', 'Texas', 'California']) # create a DataFrame obj
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd']) # reindex the DataFrame obj
frame2

In [54]:
states = ['Texas', 'Utah', 'California'] # create a list
frame.reindex(columns = states) # reindex the DataFrame obj with columns

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [ ]:
frame.loc[['a', 'b', 'c', 'd'], states] # reindex the DataFrame obj with loc

In [ ]:
## Arguments and Parameters of reindex

index # New sequence to use as index
method # Interpolation (fill) method
fill_value # Substitute value to use when introducing missing data by reindexing
limit # When forward- or backfilling, maximum size gap to fill
tolerance # When forward- or backfilling, maximum size gap to fill for ordered data
level # Match simple Index on level of MultiIndex, otherwise select subset of
copy # Do not copy underlying data if new index is equivalent to old index. Otherwise, copy

In [ ]:
# Dropping entries from an axis
obj = pd.Series(np.arange(5.), index = ['a', 'b', 'c', 'd', 'e']) # create a series obj
obj

In [ ]:
new_obj = obj.drop('c') # drop the value of c
new_obj

In [ ]:
obj.drop(['d', 'c']) # drop the values of d, c

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index = ['Ohio', 'Colorado', 'Utah', 'New York'], columns = ['one', 'two', 'three', 'four']) # create a DataFrame obj
data

In [ ]:
data.drop(['Colorado', 'Ohio']) # drop the values of Colorado, Ohio

In [ ]:
data.drop('two', axis = 1) # drop the column of two

In [ ]:
data.drop(['two', 'four'], axis = 'columns') # drop the columns of two, four

In [ ]:
obj.drop('c', inplace = True) # drop the value of c in place    
obj

In [ ]:
# Indexing, selection, and filtering
obj = pd.Series(np.arange(4.), index = ['a', 'b', 'c', 'd']) # create a series obj
obj

In [ ]:
obj['b'] # get the value of b

In [ ]:
obj[['b', 'a', 'd']] # get the values of b, a, d

In [ ]:
obj[[1, 3]] # get the values of 1, 3

In [ ]:
obj[obj < 2] # get the values that are less than 2